/* You can add global styles to this file, and also import other style files */
/* FOOTER */

.footer {
  width: 100%;
  height: 100px;
  background-color: #d3d3d3;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer a {
  color: #ffffff;
  text-decoration: none;
}
.social:hover {
  transform: scale(1.1);
}
.social {
  transform: scale(0.8);
  transition: 0.5s;
  color: darkgrey;
}
.social-fb:hover {
  color: #3b5998;
}
.social-ln:hover {
  color: #0a66c2;
}
.social-em:hover {
  color: #ffcc2a;
}
.social-gh:hover {
  color: #fff;
}
.social-in:hover {
  background: linear-gradient(to bottom right, #6600ff 0%, #cc0066 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
