<footer class="footer">
  <div class="inner">
    <div class="text-center center-block">
      <a
        href="https://www.facebook.com/gustavo.m.mello.9/"
        target="_blank"
        title="Facebook"
        ><i class="fa fa-facebook-official fa-3x social social-fb"></i
      ></a>
      <a
        href="https://www.instagram.com/gustavo.m.mello/"
        target="_blank"
        title="Instagram"
        ><i class="fa fa-instagram fa-3x social social-in"></i
      ></a>
      <a href="mailto:gustavo-mmello@hotmail.com" target="_blank" title="Email"
        ><i class="fa fa-envelope-square fa-3x social social-em"></i
      ></a>
      <a
        href="https://www.linkedin.com/in/gustavo-m-mello/"
        target="_blank"
        title="Linkedin"
        ><i class="fa fa-linkedin-square fa-3x social social-ln"></i>
      </a>
      <a href="https://github.com/gustavo-mmh" target="_blank" title="Github"
        ><i class="fa fa fa-github fa-3x social social-gh"></i>
      </a>
    </div>
    <div class="copyright text-center">
      Copyright © 2022. Todos os direitos reservados. Design by
      <a href="https://www.linkedin.com/in/gustavo-m-mello/" target="_blank">
        Gustavo M. Mello
      </a>
    </div>
  </div>
</footer>
